.about-container {
    align-items: center;
    /* background-image: linear-gradient(130deg, rgba(111,218,215,0.2528361686471463) 0%, rgba(102,110,254,0.23883056640625) 50%, rgba(219,69,252,0.19961488013174022) 100%); */
    display: flex;
    flex-direction: column;

}

.about-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px; 
    font-weight: Bold;
    color:#1C3E64
}

.about {
  font-weight: 400;
  padding-left: 125px;
  padding-right: 125px;

  letter-spacing: 0;
  text-align: center;
  top: 130px;
  width: 1200px;
  font-size: 23px;
}


.about-us-image {
  height: 300px;
  object-fit: cover;
  position: absolute;
  top: 55%;
  left:40%;
  width: 300px;
}

