.explore-search {
    display: inline-flex;
}

.explore-search-piece {
    margin-left: 10px;
    margin-right: 10px;
}

.explore-filter {
    width: 25%;
}

.explore-tiling {
    width: 75%;
    margin-left: 20%;
    display: grid;
    gap: 2em;
    grid-template-columns: auto auto auto;
}

.explore-tile {
    text-align: left;
    background-color: lightblue;
}

.explore-tile-title {
    margin: 10px;
}

.explore-tile-img {
    margin: 10px;
}

.explore-tile-desc {
    margin: 10px;
}

.explore-tile-prog {
    width: 100%;
}
.explore-tile-prog-desc {
    margin: 10px;
}