.explore-container{
    display: flex;
    flex-direction: column;
}

.explore-search-piece {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.explore-filter {
    width: 20vw;
	float: left;
}

.explore-content {
	width: 80vw;
	margin-left: 20vw;
	position: absolute;
}

.explore-tiling {
    display: grid;
    gap: 2em;
    grid-template-columns: auto auto auto;
}

.explore-tile {
    border-radius: 15px;
    text-align: left;
    background-color: white;
    transition: 0.2s;
    padding: 10px;
}

.explore-tile:hover {
    cursor: pointer;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.explore-tile:active {
    background-color: lightblue;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.3);
}

.explore-tile-title {
    margin: 10px;
}

.explore-tile-img-contain {
    width: 100%;
    text-align: center;
}

.explore-tile-img {
	object-fit: cover;
    margin: 10px;
    width: 100%;
	max-width: 600px;
    max-height: 400px;
}

.explore-tile-desc {
    margin: 10px;
}

.explore-tile-prog {
    width: 100%;
}
.explore-tile-prog-desc {
    margin: 10px;
}
