.explore-search {
    display: inline-flex;
}

.explore-search-piece {
    margin-left: 10px;
    margin-right: 10px;
}

.explore-filter {
    width: 25%;
}

.explore-tiling {
    width: 75%;
    margin-left: 20%;
    display: grid;
    gap: 2em;
    grid-template-columns: auto auto auto;
}

.explore-tile {
    text-align: left;
    background-color: #cbdffc;
    transition: 0.2s;
}

.explore-tile:hover {
    cursor: pointer;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.explore-tile:active {
    background-color: lightblue;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.3);
}

.explore-tile-title {
    margin: 10px;
}

.explore-tile-img-contain {
    width: 100%;
    height: 200px;
}

.explore-tile-img {
    margin: 10px;
    width: 100%;
    height: 100%;
}

.explore-tile-desc {
    margin: 10px;
}

.explore-tile-prog {
    width: 100%;
}
.explore-tile-prog-desc {
    margin: 10px;
}