.container-center {
    align-items: flex-start;
}

.home-screen-image {
    height: 650px;
    left: 50%;
    object-fit: cover;
    position: absolute;
    top: 5%;
    width: 650px;
}

.title {
    margin-top: 210px;
    margin-left: 130px;
    font-size: 60px;
    color: #1C3E64;
}

.tagline {
    margin-left: 110px;
    font-size: 30px;
    font-weight: 100;
}

