
.form-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 320px;
  padding: 43px 40px;
  text-align: left;
  gap: 15px 15px; 

}

#warning{ align-self:flex-end;  }

.input-tag{  margin-top: 10px; width: max-content;}

.input-container {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  grid-template-areas: 
    "input-tag-group input-group"; 
    gap: 15px 15px; 
  
}
.input-tag-group {
  top: 50%;
  font-weight: 600;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 15px 15px; 

  grid-template-areas:
    "." 
    "."
    "."
    "."
    "."
    "."
    "."
    "."; 
  grid-area: input-tag-group; 
  padding-right: 20px;
}
.input-group {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-areas: 
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    "."; 
  grid-area: input-group; 
  padding-left: 20px;
  gap: 15px 15px; 


}

.edit-info-button{ width: 150px; height: 30px;}

.edit-info-button-group{ text-align: right;}

#org-username{ margin-right: 10px;}

