.input-box {
  background-color: white;
  font-size: 20px;
  height: 35px;
  width: 400px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-left: 5pt;
}

.form-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 320px;
  padding: 43px 40px;
  text-align: left;
}

#warning{ align-self:flex-end;  }

.input-tag{  margin-top: 10px;}

.input-container {
  display: grid; 
  grid-template-columns: 0.8fr 1fr; 
  grid-template-rows: 1fr; 
  grid-template-areas: 
    "input-tag-group input-group"; 
}
.input-tag-group {
  top: 50%;
  font-weight: 600;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas:
    "." 
    "."
    "."
    "."
    "."
    "."
    "."
    "."; 
  grid-area: input-tag-group; 
}
.input-group {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-areas: 
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    "."; 
  grid-area: input-group; 
}

.edit-info-button{ width: 150px; height: 30px;}

.edit-info-button-group{ text-align: right;}

#org-username{ margin-right: 10px;}

#category-select{
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
  height: 43px;
  margin-bottom: 20px;
  padding-left: 5pt;
}
