#the-form{
    padding: 20px;
    text-align: left;
}

.project-form-container {
    max-width: 1201px;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    grid-template-areas: 
      "form-left form-right"; 
  }
.form-left { grid-area: form-left; }
.form-right { grid-area: form-right; }

.form-label{
    display: flex;
    margin-bottom: 0;
    font-weight: 600;
}

.form-input-group{  margin-bottom: 17px;    }

#img-label{
    font-weight: 600;
    margin-right: 10px;
}

.project-form-group{
    display: flex;
    flex-direction: column;
    background-color: 
    #859df23b;
    border-radius: 25px;
    padding: 25px 40px;
}

#goal-input{
    width: 300px;
}
